<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8"/></head>
	<body>
		    <section layout:fragment="corpo">
		        
		        
		        <div th:if="${list.empty}">
		            <div colspan="2"> Nenhum pedido cadastrado! </div>
		        </div>
		        <table>
		        	<tr>
		        		<th>Número</th>
		        		<th>Observacao</th>
		        		<th>Data cadastro</th>
		        		<th>Pedidos</th>
		        	</tr>
		        	<tr class="listbook" th:each="pedido : ${list.content}">
		        		<td th:text="${pedido.id}"></td>
				        <td th:text="${pedido.observacao}"></td>
				        <td th:text="${pedido.dataCadastro}"></td>
				        <td>
					        <table>
				        		<tr class="listbook"  th:each="ped : ${pedido.itemPedido}">
				        			<td th:text="${ped.livro.isbn}"></td>
				        			<td th:text="${ped.livro.titulo}"></td>
				        			<td th:text="${ped.livro.custo}"></td>
				        			<td th:text="${ped.quantidadeItens}"></td>
				        			<td th:text="${ped.subtotal}"></td>
				        		</tr>
				        	</table>
			        	</td>
				     </tr>
		       	</table>	        
		    </section>
	</body>
</html>		