<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8"/></head>
	<body>
		    <section layout:fragment="corpo">
		        
		       <div class="row">
	               <div class="col-12">
	                   <div id="listaPedidos">	                       
	                   </div>
	               </div>	              	               
               </div>
               
            <script src="/js/jquery.min.js" type="text/javascript"></script>
            <script src="/js/popper.min.js" type="text/javascript"></script>
            <script src="/js/meusPedidos.js" type="text/javascript"></script>
	</body>
</html>		