<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section layout:fragment="corpo">
	        <div class="container" id="listagem">
	        
				        <th>Nome do cliente:</th>
				        <td th:text="${cliente.nome}"  colspan="3"></td>
			        </tr>			        
			        <tr>
				        <th>Data de cadastro</th> 
				        <td th:text="${#strings.substring(cliente.dataCadastro,0,10)}"  colspan="3"></td>
			        </tr>
		        <tr>
		     <label>Endereço:</label>   
		    <div class="col-12 radio-button" th:each="enderecoEach : ${cliente.endereco}">
               	<label>Endereco:</label><div th:text="${enderecoEach.logradouro}"></div>                     	
               	<label>Numero:</label><div th:text="${enderecoEach.numero}"></div>
               	<label>Bairro:</label><div th:text="${enderecoEach.bairro}"></div>
               	<label>Cidade:</label><div th:text="${enderecoEach.cidade.nome}"></div>
               	<label>Estado:</label><div th:text="${enderecoEach.cidade.estado.nome}"></div>
            </div>  
	        <div class="pedido" th:each="pedidoEach : ${cliente.pedido}">
	             <label>Detalhe do pedido:</label>
                 <div class="col-12 radio-button" th:each="itemEach : ${pedidoEach.estoque}"> 
                     	<label>Livro:</label><div th:text="${itemEach.livro.titulo}"></div>                     	
                     	<label>Quantidade:</label><div th:text="${itemEach.quantidade}"></div>
                     	<label>preco:</label><div th:text="${itemEach.preco}"></div>
                 </div>
            </div>  
	    </section>
</body>
</html>		