<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8"/></head>
	<body>
		    <section layout:fragment="corpo">
		        
		        
		        <div th:if="${listaCliente.empty}">
		            <div colspan="2"> Nenhum cliente cadastrado! </div>
		        </div>
		        <table>
		        	<tr>
		        		<th>Nome</th>
		        		<th>CPF</th>
		        		<th>Emai</th>
		        		<th>Data nascimento</th>
		        		<th>Data cadastro.</th>
		        		<th>Pedidos</th>
		        	</tr>
		        	<tr class="listClient" th:each="cliente : ${listaCliente.content}">
		        		<td th:text="${cliente.nome}"></td>
				        <td th:text="${cliente.cpf}"></td>
				        <td th:text="${cliente.email}"></td>
				        <td th:text="${cliente.dataNascimento}"></td>
				        <td th:text="${cliente.dataCadastro}"></td>				        
				        <td>
			        		<div th:each="ped : ${cliente.pedido}">
			        			<p th:text="${ped.total}"/>
			        		</div>
			        	</td>
				     </tr>
		       	</table>	        
		    </section>
	</body>
</html>		