<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">ENDEREÇO DE ENTREGA</h1>
                <label>Cliente:</label><div th:text="${cliente.nome}"></div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-12 radio-button" th:each="enderecoEach : ${cliente.endereco}">
                    <input type="radio" name="endereco" value="${enderecoEach.id}">
                    <label>Entregar neste endereço?</label>
                    <div class="endereco">                    
                        <tbody>
                            <label>CEP:</label><div th:text="${enderecoEach.logradouro.cep}"></div>
                            <label>Tipo:</label><div th:text="${enderecoEach.logradouro.tipoLogradouro}"></div>
                            <label>Logradouro:</label><div th:text="${enderecoEach.logradouro.logradouro}"></div>
                            <label>Número:</label><div th:text="${enderecoEach.numero}"></div>
                            <label>Complemento:</label><div th:text="${enderecoEach.complemento}"></div>
                            <label>Bairro:</label><div th:text="${enderecoEach.logradouro.bairro.bairro}"></div>
                            <label>Cidade:</label><div th:text="${enderecoEach.logradouro.bairro.cidade.cidade}"></div>
                            <label>Estado:</label><div th:text="${enderecoEach.logradouro.bairro.cidade.estado.estado}"></div>
                     <!--   <button class="btn btn-lg btn-block btn-secondary text-uppercase" th:onclick="'enderecoEntrega(\'' + ${enderecoEach.id} + '\');">Escolher</button> -->
                     		<button class="btn btn-lg btn-block btn-secondary text-uppercase" th:onclick="'enderecoEntrega(' + ${enderecoEach.id} + ')'">Escolher</button> -->
                        </tbody>
                    </div>
                </div>                
            </div>
                <div class="col mb-2">                    
                    <div class="row">
                        <div class="col-sm-9 col-md-4 text-right">
                            <button class="btn btn-lg btn-block btn-secondary text-uppercase" onclick="history.go(-1);">Voltar</button>
                        </div> 
                        <div class="col-sm-9 col-md-4 text-right">
                            <a class="btn btn-lg btn-block btn-secondary text-uppercase" href="/endereco/cadastrar">Cadastar novo endereço<span class="sr-only">(current)</span></a>
                        </div>
                    </div>
                </div>
        </div>

        <!-- Footer -->
        <footer class="text-light">
            <div class="container">
                <div class="row">                    
                    <div class="col-12 copyright mt-3">
                    </div>
                </div>
            </div>
        </footer>
         <!-- <<<<< Include the above in your HEAD tag >>>>> -->
        <script src="/js/formEndereco.js"></script>  
     </section>
</body>
</html>