!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	<section class="layout-content" layout:fragment="corpo">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">ENDEREÇO DE ENTREGA</h1>
                <label>Cliente:</label><div th:text="${cliente.nome}"></div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-12 radio-button" th:each="enderecoEach : ${cliente.endereco}">
                    <input type="radio" id="radio-1" name="endereco" value="1">
                    <label for="radio-1">Entregar neste endereço?</label>
                    <div class="endereco">                    
                        <tbody>
                            <label>CEP:</label><div th:text="${enderecoEach.cep}"></div>
                            <label>Endereço:</label><div th:text="${enderecoEach.enderecoCompleto}"></div>
                            <label>Bairro:</label><div th:text="${enderecoEach.bairro.bairro}"></div>
                            <label>Cidade:</label><div th:text="${enderecoEach.bairro.cidade.cidade}"></div>
                            <label>Estado:</label><div th:text="${enderecoEach.bairro.cidade.tendEstado.estado}"></div>
                        </tbody>
                    </div>
                </div>                
            </div>
                <div class="col mb-2">                    
                    <div class="row">
                        <div class="col-sm-9 col-md-4 text-right">
                            <button class="btn btn-lg btn-block btn-secondary text-uppercase" onclick="history.go(-1);">Voltar</button>
                        </div> 
                        <div class="col-sm-9 col-md-4 text-right">
                            <a class="btn btn-lg btn-block btn-secondary text-uppercase" href="/endereco/cadastrar">Cadastar novo endereço<span class="sr-only">(current)</span></a>
                        </div>
                        <div class="col-sm-9 col-md-4 text-right">
                        	<form method="post" enctype="application/json" action="/pagamento/pagamento">
                       			<button id="irConfirmar" class="btn btn-lg btn-block btn-success text-uppercase" name="cliente" value="0">Continuar</button>
                      		</form>
                        </div>
                    </div>
                </div>
        </div>

        <!-- Footer -->
        <footer class="text-light">
            <div class="container">
                <div class="row">                    
                    <div class="col-12 copyright mt-3">
                    </div>
                </div>
            </div>
        </footer>
         <!------ Include the above in your HEAD tag ---------->
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.min.js"></script>        
     </section>
</body>
</html>