body{
	background: #bcb;	
}
/* Formatatação do formulário*/
.folha {
	margin-top: 80px;
    display: grid;
    grid-template-columns: 200px auto 450px;  
    
}
.formulario {
    display: grid;    
    grid-template-columns: 16vw auto;
     border: 10px solid #bcb;
}

label {   
    color: whitesmoke;
    background-color: darkgreen;    
    font-size: 1.2vw;
    text-align: right;
    padding: 0vw 2vw;    
    border-radius: 1vw;   
}
.formulario>input{
	min-width: 100%;
	font-size: 1vw;
	padding: 0.2vw 1vw;
	border: 0.2vw solid;
	border-radius: 1vw;
    background-color: #eeeeff;
}
.checkbox-drop-down{
	display: grid;    
    grid-template-columns: auto auto auto auto;
	
}

.grid-container>div {   
  font-family: Franklin Gothic Medium,Franklin Gothic; 
}

.setor{
	display: grid;    
    grid-template-columns: auto auto;
	
}

.panel-body {
  padding: 15px;
  width: 100%;
}

.text-color-green {
   color: #e0f3de;
   text-shadow: 2px 1px #12c405;
   font-size: large;
}
.caixa-texto {	
	height:20vw;	
}
.imagens-grid {
  display: table;   
}
.caixa-imagem {  
 float: left;
 height: 400px;
 width:  300px;
 margin: 2px;
 border-style: solid;
 border-width: 0.5vw;
 border-color: #114455;
 background-color: #eff;
}
.caixa-imagem-media {
    height: 20vw;
    width:  14vw;
    margin: 1px;
    background-color: #eff;
}
.form-select {
    width: 12vw;
    
}

input[type=file]{
padding:10px;
background:#2d2d2d;}

.capa-livro {
 height: 400px;
 width:  270px;
}
/*-----------------------------------------------------*/
// DropDown menu
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown2 {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown2 .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown2:hover .dropbtn {
  background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}



	