<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8"/></head>
<body>
	    <section class="layout-content" layout:fragment="corpo">
	
	        <div class="container" id="listagem"></div>

	        
	        <div th:if="${list.pageable.paged == true}" class="paginacao">
	        	<div th:text='${#strings.prepend(list.pageable.pageNumber + 1,"Página " )}'></div>
	            <div th:if="${!list.first == true}">
		        	<a class="nav-link" th:href="@{/livraria/categoria/page(page=${(list.pageable.pageNumber - 1)})}">◀◀◀<span class="sr-only">(current)</span></a>		            
		        </div>
		        
		        <div th:if="${!list.last == true}">
		        	<a class="nav-link" th:href="@{/livraria/categoria/page(page=${(list.pageable.pageNumber + 1)})}">▶▶▶<span class="sr-only">(current)</span></a>	            
		        </div>
	        </div>	        
	        <div>
	        	<label>Nome</label><label>Cadastro em</label><label></label><label></label>
	        	<div class="form-each" th:each="categoria : ${list.content}">
			        <div><span th:text="${categoria.nome}"></span></div>
			        <div><span th:text="${#strings.substring(categoria.dataCadastro,0,10)}"></span></div>
			        <div><button type="submit" onclick="confirmUpdate('${taglabe3}','${field.id}','${field.observacao}')">Editar</button></div>
			        			<!-- th:onclick="'javascript:upload       (' + ${gallery} + ')'" -->
					<div><button th:onclick="'javascript:confirmDelete(\'categoria\',' + ${categoria.id} + ')'">Excluir</button></div>
						 
					<!-- <button th:onclick="${'onClick(' + person.id + ');'}">Delete</button>-->
			     </div>
	       	</div>
			
	       
			<!--JavaScript -->
			<script src="/js/confirm.js"></script>
	    </section>
</body>
</html>		