<!DOCTYPE html>
<html>
<head><meta charset="UTF-8" /></head>
<body>
	<header th:fragment="cabecalho">
		<!-- Navigation -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">                   
                    <li class="nav-item active">
                     	<a class="navbar-brand" href="/index">Projeto e-Commerce de livros</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/index">Início</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/carrinho/carrinho">Carrinho de compras<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                  <form class="form-inline my-2 my-lg-0">
                      <div class="input-group input-group-sm">
                          <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Buscar...">
                          <div class="input-group-append">
                              <button type="button" class="btn btn-secondary btn-number">
                                  <i class="fa fa-search">Buscar</i>
                              </button>
                          </div>
                      </div>
                  </form>
                    </li>
                    <li class="nav-item active">
                     <a class="btn btn-success btn-sm ml-3" href="/carrinho/carrinho">
                         <i class="fa fa-shopping-cart"></i> Carrinho
                         <span id="quantidadeCarrinho" class="badge badge-light">0</span>
                 	</a>
                    </li>
                    <li class="nav-item active">
                     <span id="login-button" class="collapse navbar-collapse justify-content-end" >
                   		<button class="btn btn-success btn-sm ml-3" onclick="document.getElementById('id01').style.display='block'">Login</button>
                  	</span>
                    </li>
                    <li class="nav-item active">
                    	<span id="gestao-button" class="collapse navbar-collapse justify-content-end" >
                    	</span>
                    </li>
                </ul> 
            </div>
        </nav>
        <!-- Modal para login  -->
                
                	<div id="id01" class="modal">
		  
					  <form class="modal-content animate" action="/login" onsubmit="superlogin(this); return false;">
					    <div class="imgcontainer">
					      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
					      <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
					    </div>
					
					    <div class="container">
					      <label for="login-email"><b>Email</b></label>
					      <input id="login-email" type="email" placeholder="Digite teu email" name="email" required>
					    
					      <label for="login-senha"><b>Senha</b></label>
					      <input id="login-senha" type="password" placeholder="Digite tua senha" name="senha" required>					        
					      <button id="login" type="submit" class="btn btn-success btn-sm ml-3">Login</button>					      
					    </div>
						<div class="container" style="background-color:#f1f1f1">
						    <a class="btn btn-info btn-sm ml-3" href="/cliente/cadastro"><i class="fa fa-shopping-cart"></i>Cadastrar</a>					      	      
					    </div>
					  </form>
				</div>
			<!-- Fim Modal para login -->       
       <script src="/js/quantidadeCarrinho.js"></script>
       <script src="/js/superlogin.js"></script>       
	</header>
</body>
</html>