<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<aside th:fragment="nav-sidebar">
			<nav  class="atalhos">
	           	<div>Listagem de</div>	           	
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
				<a class="nav-link" href="#">Atalho</a>
	        </nav>
		</aside>		
	</body>
</html>