<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<aside th:fragment="nav-sidebar">
			<nav  class="atalhos">
	           	<div>Listagem de</div> 
				<a class="nav-link" href="/autores/page">Autores</a>
				<a class="nav-link" href="/clientes/page">Clientes</a>
				<a class="nav-link" href="/categorias/page">Catagorias</a>
				<a class="nav-link" href="/editoras/page">Editoras</a>
				<a class="nav-link" href="/pedidos/page">Pedidos</a>
				<a class="nav-link" href="/livros/page">Livros</a>
	        </nav>
		</aside>
	</body>
</html>