<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fatec. Livraria 2019</title>        
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles -->
        <link rel="stylesheet" href="css\estilo.css">

        <!------ Include the above in your HEAD tag ---------->
        
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                    <a class="navbar-brand" href="index.html">Projeto e-Commerce de livros</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
            
                    <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item m-auto">
                                <a class="nav-link" href="index.html">Início</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="category.html">Categorias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="product.html">Produtos</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="contact.html">Carrinho de compras<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contato</a>
                            </li>
                        </ul>
            
                        <form class="form-inline my-2 my-lg-0">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-number">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <a class="btn btn-success btn-sm ml-3" href="cesta.html">
                                <i class="fa fa-shopping-cart"></i> Carrinho
                                <span class="badge badge-light">3</span>
                            </a>
                        </form>
                    </div>
                </div>
        </nav>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">CARRINHO DE COMPRAS</h1>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col"> </th>
                                    <th scope="col">Produto</th>
                                    <th scope="col">Disponibilidade</th>
                                    <th scope="col" class="text-center">Quantidade</th>
                                    <th scope="col" class="text-right">Preço</th>
                                    <th> </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Subtotal</td>
                                    <td class="text-right">R$ 255,90</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Frete</td>
                                    <td class="text-right">R$ 6,90</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>Total</strong></td>
                                    <td class="text-right"><strong>R$ 346,90</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <button class="btn btn-lg btn-block btn-secondary text-uppercase">Continuar comprando</button>
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <button class="btn btn-lg btn-block btn-success text-uppercase">Finalizar pedido</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="text-light">
            <div class="container">
                <div class="row">
                   
                </div>
            </div>
        </footer>
        <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js"></script>
		<script src="js/ScheduleController.js"></script> <!--Atalho para a classe. Ps.: Este atalho está no final para ser carregado APÓS o html-->   
		<script src="js/schedule.js"></script>
    </body>
</html>