
.vitrine {
	margin-top: 100px;
    display: grid;
    grid-template-columns: 200px auto;  
    
}
.cabecalho {
    grid-column: 1 / span 2;
    background: blue;
    height: 5vw;
}
.atalhos {
    background: rgb(233, 233, 233);    
    display: table-row-group;
    grid-auto-columns: auto;
    padding: 15px;
    font-size: 1.5em;   
}
.atalhos a {
     width: 100%;   
}


.area-3 {
    background: gold;
    height: 30vw;
    float: left;
}
.area-4 {
    grid-column: span 2;
    background: salmon;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(128, 127, 127);
    margin-top: 60px;
  }
  
.flex-container > div {
    background-color: #bbbbbb;
    width: 310px;
    margin: 10px;
  }
.endereco {    
    display: grid;
    grid-template-columns: 120px auto;
    margin: 20px;
    font-size: 1.4em;    
}
.endereco>div {
    padding-left: 15px;
}
.radio-button{
    border: 2px solid;
    border-color: black;
    margin-bottom: 20px;
}
label {
    background: rgb(209, 209, 209);
    font-size: 15px;
}
.cartao{
    display: grid;
    grid-template-columns: 300px auto;
}
.galeria>h4{
	height: 70px;
}


   



