<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8"/></head>
	<body>
		    <aside class="main-area" layout:fragment="sidebar">		    	
				<ul class="list-group">
				 	<li class="list-group-item"><a href="/livraria/autor/page">Autores</a></li>
				 	<li class="list-group-item"><a href="/livraria/cliente/page">Clientes</a></li>
				 	<li class="list-group-item"><a href="/livraria/categoria/page">Catagorias</a></li>
				 	<li class="list-group-item"><a href="/livraria/editora/page">Editoras</a></li>
				 	<li class="list-group-item"><a href="/livraria/pedido/page">Pedidos</a></li>
				 	<li class="list-group-item"><a href="/livraria/livro/page">Livros</a></li> 
				</ul>
		    </aside>		    	
		    <section layout:fragment="corpo">
	    	</section>
	</body>
</html>		