<!DOCTYPE html>
<html layout:decorate="~{layout}">
	<head><meta charset="UTF-8"/></head>
	<body>
		    <section class="layout-content" layout:fragment="corpo">	
			    <aside  class="atalhos">
		           	<div>Listagem de</div>
					<div><a class="badge badge-info" onclick="pagination(0,'autor')">Autores</a><br></div>
					<div><a class="badge badge-info" onclick="pagination(0,'cliente')">Clientes</a><br></div>
					<div><a class="badge badge-info" onclick="pagination(0,'editora')">Editoras</a><br></div>
					<div><a class="badge badge-info" onclick="pagination(0,'categoria')">Catagorias</a><br></div>
					<div><a class="badge badge-info" onclick="paginationPedidos(0,'pedido')">Pedidos</a><br></div>
					<div><a class="badge badge-info" onclick="pagination(0,'subcategoria')">Subcatagorias</a><br></div>				
					<div><a class="badge badge-info" onclick="paginationLivros(0,'livro')">Livros</a><br></div>                  
		           </aside>
		    </section>
	</body>
</html>		