<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	<header>
	</header>
	<div class="main-area">	
		<aside th:replace="fragments/sidebar :: nav-sidebar">
		</aside>		
		<article id="galeria" class="flex-container" layout:fragment="corpo">		
			<script src="/js/jquery.min.js"></script>
	    	<script src="/js/prateleira.js"></script>
		</article>
	</div>
	<footer>
	</footer>    
</body>
</html>