<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Spring-Boot Básico</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<link rel="icon" href="/image/favicon.png" />

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/open-iconic-bootstrap.min.css" rel="stylesheet" /> 
	<!-- Custom styles -->
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/styles.css">
	
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<header th:replace="fragments/header :: cabecalho">
		<nav>header</nav>
	</header>
	<div class="main-area">		
			<nav th:replace="fragments/sidebar :: nav-sidebar">
				<span>menu</span>
			</nav>		
		<article>			
				<section layout:fragment="corpo">
					<div>conteudo principal das páginas</div>
				</section>		
		</article>
	</div>
	<footer th:replace="fragments/footer :: rodape">
		<div>footer</div>
	</footer>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/jquery.mask.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>