<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Editoras</title>
        <!-- Custom styles -->
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    	<label id="taglabel2">Editora</label>
    	<header>
    	</header>
        <div class="">
            <div class="row">
                <div class="col-12">
                	<div id="list">Lista</div>
                </div>                
            </div>
        </div>
        <script src="/js/jquery.min.js"></script>  
		<script src="/js/list.js"></script>
		<script src="/js/confirm.js"></script>
    </body>
</html>