<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Livraria e-commerce</title>
</head>
<body>
	<div>Livraria e-Commerce</div>
	<div><a href="/gestao/autor?action=list">Listar autores</a><br></div>
	<div><a href="/gestao/categoria?action=list">Listar catagorias</a><br></div>
	<div><a href="/gestao/subcategoria?action=list">Listar subcatagorias</a><br></div>
	<div><a href="/gestao/editora?action=list">Listar editoras</a><br></div>
	<div><a href="/gestao/livro?action=list">Listar Livros</a></div>
</body>
</html>