<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Gestão da Livraria 2019</title>        
        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles -->
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/view/livro/css/livro.css">
    </head>
    <body>
          <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/index">Projeto e-Commerce de livros</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item m-auto">
                            <a class="nav-link" href="/index">Início</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="livraria/carrinho">Carrinho de compras<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
        
                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary btn-number">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <a class="btn btn-success btn-sm ml-3" href="livraria/carrinho">
                            <i class="fa fa-shopping-cart"></i> Carrinho
                            <span id="quantidadeCarrinho"class="badge badge-light">0</span>
                        </a>
                    </form>
                </div>
            </div>
        </nav>
        <div class="vitrine">
            <aside  class="atalhos">
            	<div>Listagem de</div>
				<div><a class="badge badge-info" onclick="pagination(0,'autor')">Autores</a><br></div>
				<div><a class="badge badge-info" onclick="pagination(0,'cliente')">Clientes</a><br></div>
				<div><a class="badge badge-info" onclick="pagination(0,'editora')">Editoras</a><br></div>
				<div><a class="badge badge-info" onclick="pagination(0,'categoria')">Catagorias</a><br></div>
				<div><a class="badge badge-info" onclick="paginationPedidos(0,'pedido')">Pedidos</a><br></div>
				<div><a class="badge badge-info" onclick="pagination(0,'subcategoria')">Subcatagorias</a><br></div>
				
				<div><a class="badge badge-info" onclick="paginationLivros(0,'livro')">Livros</a><br></div>                  
            </aside>
            <article>
                <div class="col-12">
                	<div id="list"></div>
                </div>  
			</article>
            
            <footer>
               
            </footer>
            <script src="/js/jquery.min.js" type="text/javascript"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/confirm.js"></script>
        <script src="/js/list.js"></script>
        </div>
    </body>
</html>