<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <link rel="stylesheet" href="view/customer/css/customer.css">
        <title>Livraria online</title>
    </head>
    <body>
        <form method="post" action="categorias" class="formulario" id="formulario">
            <label for="nome">Categoria:</label>
            <input id="nome" type="text" name="nome" placeholder="Nome completo...">            
            <button type="submit">Cadastrar</button>           
        </form>
        <script src="js/jquery.min.js"></script>
		<script src="view/category/js/create.js"></script>>
    </body>
</html>
