<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Fatec. Livraria 2019</title>
        <!-- Custom styles -->
        <link rel="stylesheet" href="view/category/css/estilo.css">
    </head>
    <body>
        <div class="">
            <div class="row">
                <div class="col-12">
                	<div id="listarcategorias">Lista de categorias 3</div>  
                </div>
                <a href="categoriainserir"><button>Inserir nova categoria</button></a>
            </div>
        </div>
        <script src="js/jquery.min.js"></script>
		<script src="view/category/js/listar.js"></script>>
    </body>
</html>